body {
    font-family: 'Arial', sans-serif; 
    padding: 50px 0 75px 50px;
}

h1{
    text-align: center;
    margin: auto;
}

.axis path, .axis line {
    fill: none;
    stroke: rgb(200, 200, 200);
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.y g:first-child line {stroke: rgb(200, 200, 200);}
.axis text {
    font-family: 'Arial';
    font-size: 14px;
}

path {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    shape-rendering: geometricPrecision;
    opacity: 0.5;
}
g path:hover {stroke-width: 2.5; opacity: 1;}

g.highlight path {stroke-width: 2; opacity: 0.25;}
g.red path {stroke: red;}
g.steelblue path {stroke: steelblue;}
g.highlight path:hover {stroke-width: 2.5; opacity: 1;}

.legend rect {fill: white; stroke: black; opacity: 0.8;}    
.tick text {font-size: 11px;}



/* Nav */
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #4CAF50;
}

.sidenavs {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenavs a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavs a:hover {
  color: #f1f1f1;
}

.sidenavs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  